{% extends "base.html" %}

{% block bodyblock %}

<div class="container">
    <br><br>
    
    <h3 class="display-8">Face Recognition Application</h3>
    <p>
        Gender Classification: This application is deiven by data and machine learning model. As soon as the user uploads its image. 
        Machine learning model will recognize its gender and will return a gray scale and 
        eign face image.
    </p>

    <img src="/static/images/002.png" class="image-fluid" alt="" width="400">
    <a class="btn btn-outline-primary" href="#">Gender App</a>


{% endblock %}