<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>
    <h3>Welcome {{ data.first }} to facerecognition.com</h3>

    <table border="1px">
        <tr>
            <th>keys</th>
            <th>values</th>
        </tr>
        {% for key, value in data.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>